@{
    ViewData["Title"] = "About Us Page";
}

@section about_us_styles {

    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>Welcome to Mark1 Shop!</h1>
<p>Company name: Mark1</p>
<p>Address: Бишкек, Свердловский район, улица Гоголя, 115</p>
<p>Phone: <a href="tel:+996996001002">+996 (996) 001 002</a></p>
<p>Email: <a href="mailto:mark1shop@email.com">mark1shop@email.com</a></p>
