
@{
    ViewData["Title"] = "About Us Page";
}
@section about_us_styles {

    <link rel="stylesheet" href="~/css/AbtUsPageStyle.css" />
}
<h1>Welcome to Mark1 Shop!</h1>
<p> Company name: Mark1 </p>
<p>Address: Бишкек, Свердловский район, улица Гоголя, 115 </p>
<p>Phone:  +996 (996) 001 002 </p>
<p>Email: mark1shop@email.com</p>

