@using DataAccess
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome <br />
        to the technology store
    </h1>
</div>
<br />
<p class="text-center" style="font-size: large">All products:</p>

<ul class="products_ul">
    @{
        foreach (var product in @Model)
        {
            <li class="products_li">
                <img src="@product.Image" />
                <h2>@product.Title</h2>
                <p>@product.Description</p>
                <p id="price">@product.Price</p>
            </li>
        }
    }
</ul>
