@{
    ViewData["Title"] = "Tech-Shop";
}
<head>
    <style>
        h1{font-family:'Gill Sans'; text-align:center; color:darkblue}
        h2{color:cadetblue;}
        p{color:cornflowerblue}
    </style>
</head>
<body>
    <h1>Welcome to Tech-Shop!</h1>
    <p style=" text-align: center;"> This page will tell you about us</p>
    <h2>Company Name:</h2>
    <p>Tech-Shop</p>
    <h2>Address:</h2>
    <p>Бишкек, Свердловский район, улица Гоголя, 115</p>
    <h2>Phone:</h2>
    <p>+996 (707) 745 232</p>
    <h2>Email:</h2>
    <p>techshopkg@gmail.com</p>
</body>