@using DataAccess
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        All product
    </p>
    @{
        foreach (var product in @Model)
        {
            < div >
              < h2 >
                @product.Title
                @product.Description
        
            </ h2 >
            </ div >
        }
    }
</div>
