@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        h6{color:darkslateblue; font-family:'Trebuchet MS';}
    </style>
</head>
<body>
    <h1 style="text-align:center; color:blue">Welcome to Tech-Shop!</h1>   
    <p style="color: darkcyan; text-align:center;"> This site will tell you  about us</p>

    <h6>Company Name: Tech-Shop</h6>   
    <h6>Address: Бишкек, Свердловский район, улица Гоголя, 115</h6>   
    <h6>Phone Number: +996 (707) 745 232</h6>   
    <h6>Email: techshop@gmail.com</h6>  

</body>