@using DataAccess
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome <br />
        to the technology store
    </h1>
</div>
<br />
<p class="text-center" style="font-size: large"> All products:</p>

@{
    foreach (var product in @Model)
    {
        <form>
            <img src="@product.Img" />
            <h2>@product.Title</h2>
            <p>@product.Description</p>
            <br />
        </form>
    }
}

