@{
    ViewData["Title"] = "Настройка";
}
<h1>@ViewData["Title"]</h1>

<p>В эту страницу можно разместить авторизационные данные клиента (Логин, Пароль, Имя) для редактирования.</p>
<p>Например:</p>
<p>Имя пользователя: @User.Identity.Name</p>
<p>Логин: </p>
<p>Пароль: </p>
